*{
    margin: 0px;
    padding: 0px;
}
#nav{
    height: 58px;
    background: rgb(0,0,0,0.6);
    position: fixed;
    width: 100%;
    z-index: 100;
}
#logo{
    border-radius: 100%;
    height: 55px;
    width: 55px;
    position: relative;
    left: 380px;
    top: 1px;
}
#logo-div{
    width: 352px;
}
#menu{
    position: relative;
    left: 500px;
    top: -44px;
    font-size: 22px;
    font-family: sans-serif;
    width: 800px;
}
#menu a{
    padding: 15px 32px;
    text-decoration: none;
    color: white;
}
#menu a:hover{
    background-color: snow;
    height: 80px;
    width: 100px;
    color: black;
}
#header{
    background: url(images/work-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    height: 700px;
    filter:contrast(80%);
}
#back-txt{
    width: 750px;
    height: 450px;
    position: relative;
    left: 25%;
    top: 25%;
}
#divs{
    height: 435px;
}
.div3{
    width: 250px;
    height: 350px;
    float: left;
    margin: 45px 18px;
    position: relative;
    left: 185px;
    border-radius: 15px;
    text-align: center;
    background-color: #FFFFFF;
}
.div3-img{
    height: 100px;
    text-align: center;
    margin: 28px;
}
#market-img{
    position: relative;
    top: 6px;
}
#maintain-img{
    position: relative;
    top: -4px;
}
.div3 h2{
    position: relative;
    top: -40px;
    font-family: sans-serif;
    font-size: 20px;
}
.div3 p{
    margin: 10px;
    position: relative;
    top: -20px;
    font-size: 15px;
    font-family: fantasy;
}
.div3-btn{
    font-size: 15px;
    border: solid 1px black;
    border-radius: 30px;
    padding: 4px 8px;
    font-family: fantasy;
    background-color: #667873;
    text-decoration: none;
    color: white;
}
.div3:hover{
    box-shadow: 0px 0px 15px 15px #F1F4FF;
}
#comp-icon{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
#comp-icon i{
    position: relative;
    left: 26px;
    top: 31px;
}
#book-icon{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
#book-icon i{
    position: relative;
    left: 32px;
    top: 29px;
}
#hand-icon{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
#hand-icon i{
    position: relative;
    left: 23px;
    top: 29px;
}
#text h1{
    font-family:fantasy;
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 20px 30px;
}
#text p{
     font-family:fantasy;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 30px;
}
#icons div{
    float: left;
    position: relative;
    top: 40px;
    left: 145px;
    margin: 23px;
}
#comp-icon:hover{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: black;
}
#book-icon:hover{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: black;
}
#hand-icon:hover{
    border: solid 3px white;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: black;
}
.customers{
    height: 500px;
    width: 870px;
    position: relative;
    left: 340px;
    top:  -950px;
    background-color: #fffee4;
    border-radius: 12px;
    box-shadow: 0px 0px 45px 8px #F1F4FF;
    z-index: 10;
}

.custo-pic img{
    height: 415px;
    width: 330px;
    position: relative;
    top: 37px;
    left: 35px;
    border-radius: 15px;
}
.custo-txt{
    height: 490px;
    width: 470px;
    position: relative;
    top: -415px;
    left: 375px;
}
.custo-txt h1{
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 20px 10px;
}
.custo-txt p{
    font-size: 18px;
    padding: 0px 20px;
    position: relative;
    top: -20px;
    font-family: serif;
}
.custo-txt a{
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 22px;
    border: solid 1px black;
    font-family: serif;
    font-size: 20px;
    padding: 2px 20px;
    font-weight: 600;
    color: white;
    background-color: #667873;
    border-radius: 15px;
}
.customers{
    display: none;
}

